<div style="display: flex; width: 80%; height: 100%; padding: 20px; justify-content: center; background-color: white; border: solid black 1px;">
    <div style="margin-top: 20px;">
       Hello {{ name }}, Welcome to the Future App. Your journey to posibilities
    </div>
</div>

